@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans_Condensed-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans_Condensed-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans_Condensed-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Circular Std";
    src: url("../fonts/Circular_400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Circular Std";
    src: url("../fonts/Circular_700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}