body {
  font-family: Poppins;
  color: #1a1a1a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.wrapper {
  overflow: clip;
  min-height: 100%;
}
[class*="__container"] {
  max-width: 1350px;
  margin: 0 auto;
  padding-inline: 15px;
}
[class*="--min"] {
  max-width: 750px;
  margin: 0 auto;
  padding-inline: 15px;
}
[class*="--margin"] {
  margin-bottom: 15px;
}
.header {
  background-image: url(../img/hader.webp);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: 120px;
  margin-bottom: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  align-content: center;
}
.header__container {
}
.header__title {
  position: relative;
  padding: 10px;
  font-size: 36px;
  font-weight: 700;
  color: rgb(172, 44, 44);

  animation-name: move, color-change, rotate;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.05, 0.96, 0.93, 0.42);
  animation-iteration-count: infinite;
}
@keyframes color-change {
  0% {
    color: rgb(131, 125, 125);
  }
  20% {
    color: rgb(222, 210, 210);
  }
  60% {
    color: rgb(81, 34, 34);
  }
  100% {
    color: rgb(24, 19, 19);
  }
}
@keyframes rotate {
  0% {
    transform: rotateX(25deg);
  }
  20% {
    transform: rotateX(29deg);
  }
  60% {
    transform: rotateX(15deg);
  }
  100% {
    transform: rotateY(-25deg);
  }
}
@keyframes move {
  0% {
    right: -150px;
  }
  70% {
    right: 120px;
  }
  100% {
    right: -150px;
  }
}
.page {
}
.page-featured {
}
.featured {
}
.featured__container {
}
.featured__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.featured__title {
}
.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}
.featured__all {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #00b207;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  column-gap: 12px;
}
.featured__all::after {
  content: "";
  width: 15px;
  height: 12px;
  background: url(../img/arrow-right.svg) center / 15px 12px no-repeat;
}
.featured__items {
  display: flex;
}
.featured__item {
  position: relative;
  flex: 0 0 264px;
  border: 1px solid #e6e6e6;
  background: #fff;
  transition: background-color 2s;
}
.featured__item::before {
  content: "";
  position: absolute;
  inset: -1px;
  border: 1px solid #2c742f;
  opacity: 0;
  transition: opacity 0.8s;
}
.featured__item:hover::before {
  opacity: 1;
}
.featured__item button:hover svg path {
  stroke: #fff;
}
.featured__item:hover .wishlist-button {
  visibility: visible;
  opacity: 1;
}
.featured__image {
  position: relative;
}
.featured__image-link {
  overflow: clip;
  outline-width: 1px;
  padding: 5px;
}
.featured__image-link img {
  width: 100%;
  aspect-ratio: inherit;
  object-fit: contain;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.featured__actions {
  position: absolute;
  top: 16px;
  left: 16px;

  display: inline-flex;
  padding: 3px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;

  border-radius: 4px;
  background-color: #ea4b48;
}
.featured__actions > p {
  color: #fff;
  line-height: 1.5;
}
.featured__button-wishlist {
}
.wishlist-button {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  visibility: visible;
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 1;
}

.wishlist-button button {
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.3s;
  position: relative;

  transition: background-color 0.5s;
}
.wishlist-button button::before {
  content: "";
  position: absolute;
  width: inherit;
  aspect-ratio: 1 / 1;
  border-radius: inherit;
  background-color: #00b207;
  transform: scale(0.2);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
.wishlist-button button svg {
  width: 20px;
  height: 20px;
  position: relative;
}
.wishlist-button button:hover {
  background-color: #00b207;
}
.wishlist-button button svg path {
  transition: stroke 0.7s;
}
.wishlist-button button:hover .wishlist-button button svg path {
  stroke: #fff;
}
.wishlist-button__heart {
}
.wishlist-button__eye {
}
.featured__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 12px;
}
.featured__info {
  display: flex;
  flex-direction: column;
}
.featured__title {
  color: #4d4d4d;
  line-height: 1.5;
}
.featured__title-link {
  transition: all 0.6s;
}
.featured__title-link:hover {
  color: #2c742f;
  text-decoration: underline;
}
.featured__info-price {
  display: flex;
  column-gap: 2px;
  margin-bottom: 6px;
}
.featured__info-price-now {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.featured__info-price-old {
  color: #999;
  font-size: 16px;
  line-height: 1.5;
  text-decoration-line: line-through;
}
.featured__rating {
  width: 60px;
  height: 12px;
}
.featured__button-basket {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
}
.featured__item:hover .featured__button-basket::before {
  background-color: #00b207;
}
.featured__item:hover .featured__button-basket:hover::before {
  background-color: #2c742f;
}
.featured__button-basket svg {
  position: relative;
  width: 20px;
  height: 20px;
}
.featured__button-basket svg path {
  transition: stroke 0.7s;
}
.featured__item:hover .featured__button-basket svg path {
  stroke: #fff;
}
.featured__button-basket::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: #f2f2f2;
  position: absolute;
  transition: background-color 0.5s;
}
.footer {
}
.footer__container {
  color: #1a1a1a;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}
