body {
  background-color: #f8f3ec;
}
.wrapper {
  display: flex;
  flex-direction: column;

  overflow: clip;
  min-height: 100%;
}
.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: 1232px;
  padding-inline: 15px;
  margin: 0 auto;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.header {
  background-color: #1a1a1a;
  color: yellowgreen;
  margin-bottom: 40px;
}
.header__container {
  border-left: 1px solid yellowgreen;
  border-right: 1px solid yellowgreen;
  border-radius: 20px;
}
.header__title {
  padding: 20px;
  font-size: 28px;

  text-align: end;
  text-decoration: underline;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.page {
}
.blossomia {
  padding-block: 45px;
}
.blossomia__container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  flex-direction: row;
  justify-content: space-between;
}
.catalog-left {
  display: grid;
  gap: 30px;

  flex-basis: 400px;
  align-self: flex-start;
}
.catalog-left__cards {
}
.card {
}
.card__body {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.card__link-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 400 / 430;
  object-fit: contain;
}
.card__image {
}
.card__info {
}
.card__top {
}
.card__title {
}
.card__action {
}
.card__action-favorite {
}
.card__action-add-list {
}
.card__price {
}
.catalog-left__more {
}

.catalog-right {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  flex-basis: 767px;
}
.catalog-right__title {
  grid-column: 1 / -1;
  align-content: center;

  min-height: 230px;
  font-size: 60px;

  text-wrap: balance;
}
@media (min-width: 649.98px) {
  .catalog-right__title {
    padding-block: 15px;
    font-size: 40px;
  }
}
@media (min-width: 999.98px) {
  .catalog-right__title {
    font-size: 50px;
  }
}
@media (min-width: 1199.98px) {
  .catalog-right__title {
    min-height: 230px;
    font-size: 60px;
  }
}
.catalog-right__items {
}
.floral-items {
}
.floral-item {
  display: flex;
  flex-direction: column;
}
.floral-item__link-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 370 / 378;
  object-fit: contain;
}
.floral-item__image {
}
.floral-item__info {
}
.floral-item__top {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.floral-item__title {
}
.floral-item__action {
  display: flex;
  gap: 18px;
}
.floral-item__action-favorite {
  background: url(../img/icon/like-blos.svg) 0 0 / cover no-repeat;
}
.floral-item__action-add-list {
  background: url(../img/icon/backet-blos.svg) 0 0 / cover no-repeat;
}
.floral-item__action-favorite,
.floral-item__action-add-list {
  width: 20px;
  height: 20px;
}
.floral-item__price {
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.footer {
  background-color: #1a1a1a;
}
.footer__container {
  color: beige;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}
