/* body {
  font-family: Bellota;
  font-size: 24px;
  font-weight: 700;
  color: black;
  background-color: rgba(43, 15, 15, 0.807);
}
.wrapper {
  overflow: clip;
  min-height: 100%;
} */
